%h2
  Главная

%container
  %p
    Я ведущая праздничных программ и это моя любимая профессия!
  %p
    8 лет я занимаюсь проведением самых значимых для людей событий, среди которых были:
    %ul
      %li
        свадьбы
      %li
        юбилеи
      %li
        корпоративы и Новогодние вечера
      %li
        открытие торговых центров и магазинов
      %li
        городские праздники
      %li
        детские дни рождения, выпускные и даже спортивный праздник на льду))

  %p
    Я занимаюсь разработкой сценария, написанием текстов и ваш праздник станет уникальным и незабываемым, а главное таким, каким Вы хотите его видеть.

    %p
      Свою работу я выполняю качественно и профессионально, ответственность считаю главным качеством для работы в этом бизнесе. Требовательна ко всем участникам ( ди-джею, оформителям, рестораторам) от которых зависит наше детище, но главным образом к себе! Поэтому постоянно стараюсь совершенствовать свой уровень — занимаюсь вокалом и постановкой голоса, театральным мастерством и сценической речью. В итоге результатом довольны не только мои дорогие клиенты , но даже я:)