%h2 Фото-отчеты

- @photo_albums.each do |photo_album|
  .col-lg-3
    =link_to image_tag(photo_album.photos[0].photo.url(:thumb), class: 'img-rounded img-list', style: 'width: 100%;'), photo_album 
  .col-lg-9
    %dl
      %dt= link_to photo_album.name, photo_album 
      %dl= raw photo_album.description
  